.home-page {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  /* Hide the horizontal scrollbar */
  .home-page::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none; /* Safari and Chrome */
  }

  
  
  